.bereich {
    background-color: lightgrey;
    border-radius: 10px;
    border: 1px solid black;
    width:80%;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
    text-align: left;
}
