.bereich {
    background-color: lightgrey;
    border-radius: 10px;
    border: 1px solid black;
    width:80%;
}
.button1{
  top: 50%;
  background-color: #FFA500;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
table {
border: 0px;
margin-left:30px;
}
td {
height:25px;
}
.wrapper {
    text-align: center;
}