#peachbox {
  border: 2px solid black;
  background-color: peachpuff;
  padding: 20px;
  padding-top: 0px;
}

#blackbox {
  background-color: black;
  border: 2px solid black;
  border-radius: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.column {
  float: left;
  width: 50%;
}

#tabc {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-collapse: collapse;
  height: 320px;
}

.active {
  background-color: white;
  color: black;
  padding: 14px 16px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  border-bottom-color: white;
}

.tab {
  background-color: black;
  border-radius: 10px;
  padding-top: 10px;
  border-collapse: collapse;
}

.inactive {
  color: white;
  padding: 14px 16px;
  background-color: blue;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  border-bottom-color: white;
}

#input {
  margin-left: 100px;
}
